.timetable {
  user-select: none;
  -webkit-user-select: none;
  ms-user-select: none;
}

.container {
  width: auto;
  font-size: 1em;
  margin: auto;
}

@media screen and (max-width: 820px) {
  .container {
    width: 70vw;
    max-width: 250px;
    margin: auto;
  }
}
