.timetable {
  user-select: none;
  -webkit-user-select: none;
  ms-user-select: none;
}

.container {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin: auto;
  font-size: .7em;
  margin-bottom: 5px;
}