:root {
  --cis-color: #0b7367;
  --math-color: #11698c;
  --phys-color: #614495;
  --stat-color: #a63738;
  --institutional-navy: #002856;
  --institutional-green: #0b7367;
}

@font-face {
  font-family: "Priori";
  src: url("/zPrioriSansOT-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aptifer-Slab";
  src: url("/Aptifer Slab LT Pro.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hand-of-Sean";
  src: url("/Hand_Of_Sean_Demo.ttf");
  font-weight: normal;
  font-style: normal;
}

main {
  text-align: center;
}

.card-holder {
  display: inline-block;
  border: 1px solid black;
  margin: 1rem auto;
  height: 2.95in;
  width: 3.85in;
  line-height: 2.95in;
}

.card-profile-frame {
  max-width: 550px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  justify-content: center;
}

.flexbox-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.flexbox-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

form {
  margin: auto;
}

.input-holder {
  /*max-width: 350px; */
  text-align: right;
}
.input-timetable-frame {
  /*max-width: 650px;*/
}

.login {
  display: grid;
  grid-template-rows: 3rem repeat(3, 2.5rem);
  grid-gap: 5px;
  margin: auto;
}

table,
tbody,
thead {
  margin: auto;
}

th,
td {
  vertical-align: bottom;
}

.topnav-right {
  float: right;
}

.preformatted {
  font-family: Aptifer-Slab, Monospace;
  display: inline-block;
  text-align: left;
  font-size: 0.8rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.qr-code {
  display: inline-block;
  width: 1in;
  height: 1in;
  margin: 0 0.2in 0 0.2in;
}

ul {
  text-align: left;
}

.select {
  margin: auto;
  margin-top: 1rem;
  width: 300px;
  display: inline-block;
}

.small-label {
  font-size: 0.75rem;
  text-align: left;
  vertical-align: 2.5px;
}

.profile-pic-small {
  height: 2.4rem;
  width: calc(2.4rem / 1.25);
  display: inline-block;
}

.left-align {
  text-align: left;
  width: 95%;
  margin: auto;
}

.profile-container {
  display: inline-block;
  width: 1.2in;
  height: 1.6in;
  border: 1px solid black;
  margin: 1rem auto;
  line-height: 1.6in;
  object-fit: cover;
}

.profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.read-only {
  color: darkgrey;
}

.errorMessage {
  height: 100%;
  color: red;
  font-size: 8pt;
  align-text: center;
}

.nowrap {
  white-space: nowrap;
}

.course-container {
  width: 25rem;
  justify-content: flex-start;
}

.course-container > div {
  width: 25%;
  text-align: left;
}

.math {
  color: var(--math-color);
}
.math-stat {
  background: -webkit-linear-gradient(
    45deg,
    var(--math-color) 0%,
    var(--stat-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.physics {
  color: var(--phys-color);
}

.cis {
  color: var(--cis-color);
}

.statistics {
  color: var(--stat-color);
}

.designing {
  border: 1px solid red;
}

.subject-title {
  display: inline-block;
  margin: 6pt 6pt 6pt 0pt;
  flex-grow: 0;
  font-size: 12pt;
  font-family: Hand-of-Sean;
}

.divider-line {
  display: inline-block;
  height: 2pt;
  background: linear-gradient(
    to right,
    var(--institutional-navy),
    var(--institutional-green)
  );
  flex-grow: 1;
}

.letter-size {
  height: 11in;
  width: 8.5in;
  padding: 0.25in 0.25in 0.25in 0.25in;
  box-sizing: border-box;
}

.schedule-container {
  text-align: center;
  color: var(--institutional-navy);
  font-family: Priori;
}

.table-divider {
  height: 2pt;
  background-color: var(--institutional-navy);
}

.non-select {
  user-select: none;
  -webkit-user-select: none;
  ms-user-select: none;
}

label {
  user-select: none;
  -webkit-user-select: none;
  ms-user-select: none;
  margin-left: 5pt;
}

.checkbox-group {
  display: inline-block;
  margin: 0 2.5pt 0 2.5pt;
}

.institutional-navy {
  color: var(--institutional-navy);
}

.table-schedule {
  border: 5px solid var(--institutional-navy);
  font-size: 2rem;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  width: fit-content;
}

.padding-1rem {
  padding: 1rem 1rem;
}
