main {
  text-align: center;
  /*vertical-align: center;*/  
}

table, th, td {
  margin: auto;
  width: 100%;
}

table {
  width: 100%;
  border: solid;
}

th, td {
  width: auto;
  border: 1px solid;

}

pre {
  margin: auto;
  font-family: Times, Monospace;
}
