.card-holder {
  display: inline-block;
  border: 1px solid black;
  margin: 1rem auto;
  height: 2.95in;
  width: 3.85in;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 550px;
  margin: auto;
}

form {  
  width: 70%;
  margin: auto;
}

.input-holder {
  max-width: 350px;
  margin: auto;
  text-align: right;
}

.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 140px;
  max-width: 500px;
  justify-content: space-around;
  margin: auto;
}

main {
  text-align: center;  
}

table,tbody,thead {
  margin: auto;
  width: 100%;
}

table {
  border: solid;
}

th, td {
  width: auto;
  border: 1px solid;
}

pre {  
  font-family: Times, Monospace;
  display: inline-block;
  margin: auto;
  font-size: 1rem;
  /*overflow-x: auto;*/
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;  
}

ul {
  text-align: left;
}

.select {
  margin: auto;
  margin-top: 1rem;
  width: 300px;
  display: inline-block;
}

.small-label {
  font-size: 0.75rem;
  text-align: left;
  vertical-align: 2.5px;
}

.profile-pic-small {
  height: 3rem;
  width: 2rem;
  display: inline-block;
  margin-right: .5rem;
  text-align: left;
}

.left-align{
  text-align: left;    
  width: 55%;
  margin: auto;
}

.profile-container {
  display: inline-block;
  width: 1.2in;
  height: 1.6in;
  border: 1px solid black;
  margin: 1rem auto;
  line-height: 1.6in;  
}

.profilePic {
  width: 100%;
  height: 100%;
  
}

input[type='file'] {
  color: rgba(0, 0, 0, 0);
}

.file-input-button {
  margin-left: -120pt;
}

.read-only {
  color: darkgrey;
}

.errorMessage {
  color: red;
  font-size: 8pt;
  align-text: center;
}

.nowrap {
  white-space: nowrap;
}

.course-container {
  width: 25rem;
  margin: 0.5rem auto 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.course-container>div {
  width: 25%;
  text-align: left;
  line-height: 1.5rem;
  margin: 0px;
}